body{
    color: #B252A1;
    background-color: #2c3552;
    font-size: 22px;
    font-family: Arial, monospace;
    text-align: justify;
}

#main{
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

abbr{
    text-decoration: underline;
    color: #B252A1;
}

#back{
    padding: 0px;
    margin: 20px;
}

#visor{
    text-align: center;
    font-size: 100px;
    color: #b252a1;
}

.buttons{
    width: 100px;
    height: 30px;
    margin: 3px;
    font-size: 20px;
    color: #b252a1;
    background-color:#2c3552;
    outline: none;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
}

.buttons:hover {
    background-color:#21283d
}

.buttons:active{
    transform: translateY(2px);
}

.txtInput{
    font-size: 22px;
    height: 30px;
    margin: 3px;
    color: #b252a1;
    background-color:#2c3552;
    outline: none;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
}

#buttons{
    text-align:center;
}