body{
    padding: 0px;
    margin: 30px;
    background-color: #2C3552;
    color: #B252A1;
    font-size: 22px;
    font-family: Arial, monospace;
    text-align: justify;
}


abbr{
    text-decoration: underline;
    color: #B252A1;
}