body{
    padding: 0px;
    margin: 20px;
    color: #B252A1;
    background-color: #2c3552;
    font-size: 22px;
    font-family: Arial, monospace;
    text-align: justify;
}

a{
    color: #B252A1;
}