body{
    margin: 0;
    padding: 0;
    background-color: #2c3552;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#visor{
    text-align: center;
    font-size: 100px;
    color: #b252a1;
    text-shadow: 0px 0px 10px black;;
}

.buttons{
    width: 100px;
    height: 30px;
    margin: 3px;
    color: #b252a1;
    background-color:#2c3552;
    outline: none;
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
}

.buttons:hover {
    background-color:#21283d
}

.buttons:active{
    transform: translateY(2px);
}

#buttons{
    text-align: center;
}