.buttons{
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
#bold{
    font-weight: bold;
}
#italic{
    font-style: italic;
    font-family: 'Times New Roman';
}
.textinput{
    border-style: solid;
    border-color: rgba(112, 112, 112, 0.089);
    outline: none;
    width: 500px;
    height: 150px;
}